ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FE5F55;
}

li {
    float: left;
    border-right:1px solid #000000;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #C3B299;
}

.active {
    background-color: #000FF0;
}

h1 {
  color: #EEF5DB;
  background-color: #247BA0;
  /*border: 1px solid black;*/
  font-family: "Verdana", Times, serif;
  text-align: center;
  
}

h2 {
  color:  white;
  background-color: #00ccff;
  border: 1px solid black;
  text-shadow: #000 1px 0 10px;
}

h3 {
  color: black;
  background-color: violet;
  border: 1.5px solid black;
}
    
p {
  text-align: center;
  color: white;
  font-family: "Bookman Old Style", Times, serif;
}

.header {
    background-color: #134074;
    padding: 1px;
    text-align: center;
    color: white;
  border: 8px solid black;
  border-radius: 5px;
  font-family: "Bookman Old Style", Times, serif;
  height:110px;
}
 h4{
     font-size: 37px;
     font-weight: bolder;
     position: relative;
    right: -60px;
    top:-10px;
 }

.relative {
    position: relative;
    right: 165px;
    bottom:150px;
}

figure {
    position: relative;
    right: -25px;
    bottom:10px;
}

p1 {
     position:center;
    width: 500px;
    border: 3px solid white;
    font-size: 20px
}
a {
    color: white
}
er{
    font-family: "Verdana", Times, serif;
  text-align: center;
  color:white;
}